function Bat.new 0
   push constant 24
   call Memory.alloc 1
   pop pointer 0
   push argument 0
   pop this 0
   push argument 1
   pop this 1
   push argument 2
   pop this 21
   push argument 3
   pop this 22
   push constant 2
   pop this 23
   push pointer 0
   call Bat.show 1
   pop temp 0
   push pointer 0
   return
function Bat.dispose 0
   push argument 0
   pop pointer 0
   push pointer 0
   call Memory.deAlloc 1
   pop temp 0
   push constant 0
   return
function Bat.show 0
   push argument 0
   pop pointer 0
   push constant 1
   neg
   call Screen.setColor 1
   pop temp 0
   push pointer 0
   call Bat.draw 1
   pop temp 0
   push constant 0
   return
function Bat.hide 0
   push argument 0
   pop pointer 0
   push constant 0
   call Screen.setColor 1
   pop temp 0
   push pointer 0
   call Bat.draw 1
   pop temp 0
   push constant 0
   return
function Bat.draw 0
   push argument 0
   pop pointer 0
   push this 0
   push this 1
   push this 0
   push this 21
   add
   push this 1
   push this 22
   add
   call Screen.drawRectangle 4
   pop temp 0
   push constant 0
   return
function Bat.setDirection 0
   push argument 0
   pop pointer 0
   push argument 1
   pop this 23
   push constant 0
   return
function Bat.getLeft 0
   push argument 0
   pop pointer 0
   push this 0
   return
function Bat.getRight 0
   push argument 0
   pop pointer 0
   push this 0
   push this 21
   add
   return
function Bat.setWidth 0
   push argument 0
   pop pointer 0
   push pointer 0
   call Bat.hide 1
   pop temp 0
   push argument 1
   pop this 21
   push pointer 0
   call Bat.show 1
   pop temp 0
   push constant 0
   return
function Bat.move 0
   push argument 0
   pop pointer 0
   push this 23
   push constant 1
   eq
   not
   if-goto LABEL_58
   push this 0
   push constant 4
   sub
   pop this 0
   push this 0
   push constant 0
   lt
   not
   if-goto LABEL_60
   push constant 0
   pop this 0
   goto LABEL_61
label LABEL_60
label LABEL_61
   push constant 0
   call Screen.setColor 1
   pop temp 0
   push this 0
   push this 21
   add
   push constant 1
   add
   push this 1
   push this 0
   push this 21
   add
   push constant 4
   add
   push this 1
   push this 22
   add
   call Screen.drawRectangle 4
   pop temp 0
   push constant 1
   neg
   call Screen.setColor 1
   pop temp 0
   push this 0
   push this 1
   push this 0
   push constant 3
   add
   push this 1
   push this 22
   add
   call Screen.drawRectangle 4
   pop temp 0
   goto LABEL_59
label LABEL_58
   push this 0
   push constant 4
   add
   pop this 0
   push this 0
   push this 21
   add
   push constant 511
   gt
   not
   if-goto LABEL_62
   push constant 511
   push this 21
   sub
   pop this 0
   goto LABEL_63
label LABEL_62
label LABEL_63
   push constant 0
   call Screen.setColor 1
   pop temp 0
   push this 0
   push constant 4
   sub
   push this 1
   push this 0
   push constant 1
   sub
   push this 1
   push this 22
   add
   call Screen.drawRectangle 4
   pop temp 0
   push constant 1
   neg
   call Screen.setColor 1
   pop temp 0
   push this 0
   push this 21
   add
   push constant 3
   sub
   push this 1
   push this 0
   push this 21
   add
   push this 1
   push this 22
   add
   call Screen.drawRectangle 4
   pop temp 0
label LABEL_59
   push constant 0
   return
