function PongGame.new 0
   push constant 21
   call Memory.alloc 1
   pop pointer 0
   call Screen.clearScreen 0
   pop temp 0
   push constant 50
   pop this 20
   push constant 230
   push constant 229
   push this 20
   push constant 7
   call Bat.new 4
   pop this 15
   push constant 253
   push constant 222
   push constant 0
   push constant 511
   push constant 0
   push constant 229
   call Ball.new 6
   pop this 16
   push this 16
   push constant 400
   push constant 0
   call Ball.setDestination 3
   pop temp 0
   push constant 0
   push constant 238
   push constant 511
   push constant 240
   call Screen.drawRectangle 4
   pop temp 0
   push constant 22
   push constant 0
   call Output.moveCursor 2
   pop temp 0
   push constant 8
   call String.new 1
   push constant 83
   call String.appendChar 2
   push constant 99
   call String.appendChar 2
   push constant 111
   call String.appendChar 2
   push constant 114
   call String.appendChar 2
   push constant 101
   call String.appendChar 2
   push constant 58
   call String.appendChar 2
   push constant 32
   call String.appendChar 2
   push constant 48
   call String.appendChar 2
   call Output.printString 1
   pop temp 0
   push constant 0
   pop this 17
   push constant 0
   pop this 18
   push constant 0
   pop this 14
   push constant 0
   pop this 19
   push pointer 0
   return
function PongGame.dispose 0
   push argument 0
   pop pointer 0
   push this 15
   call Bat.dispose 1
   pop temp 0
   push this 16
   call Ball.dispose 1
   pop temp 0
   push pointer 0
   call Memory.deAlloc 1
   pop temp 0
   push constant 0
   return
function PongGame.newInstance 0
   call PongGame.new 0
   pop static 0
   push constant 0
   return
function PongGame.getInstance 0
   push static 0
   return
function PongGame.run 1
   push argument 0
   pop pointer 0
label LABEL_34
   push this 17
   not
   not
   if-goto LABEL_35
label LABEL_36
   push local 0
   push constant 0
   eq
   push this 17
   not
   and
   not
   if-goto LABEL_37
   call Keyboard.keyPressed 0
   pop local 0
   push this 15
   call Bat.move 1
   pop temp 0
   push pointer 0
   call PongGame.moveBall 1
   pop temp 0
   push constant 50
   call Sys.wait 1
   pop temp 0
   goto LABEL_36
label LABEL_37
   push local 0
   push constant 130
   eq
   not
   if-goto LABEL_38
   push this 15
   push constant 1
   call Bat.setDirection 2
   pop temp 0
   goto LABEL_39
label LABEL_38
   push local 0
   push constant 132
   eq
   not
   if-goto LABEL_40
   push this 15
   push constant 2
   call Bat.setDirection 2
   pop temp 0
   goto LABEL_41
label LABEL_40
   push local 0
   push constant 140
   eq
   not
   if-goto LABEL_42
   push constant 1
   neg
   pop this 17
   goto LABEL_43
label LABEL_42
label LABEL_43
label LABEL_41
label LABEL_39
label LABEL_44
   push local 0
   push constant 0
   eq
   not
   push this 17
   not
   and
   not
   if-goto LABEL_45
   call Keyboard.keyPressed 0
   pop local 0
   push this 15
   call Bat.move 1
   pop temp 0
   push pointer 0
   call PongGame.moveBall 1
   pop temp 0
   push constant 50
   call Sys.wait 1
   pop temp 0
   goto LABEL_44
label LABEL_45
   goto LABEL_34
label LABEL_35
   push this 17
   not
   if-goto LABEL_46
   push constant 10
   push constant 27
   call Output.moveCursor 2
   pop temp 0
   push constant 9
   call String.new 1
   push constant 71
   call String.appendChar 2
   push constant 97
   call String.appendChar 2
   push constant 109
   call String.appendChar 2
   push constant 101
   call String.appendChar 2
   push constant 32
   call String.appendChar 2
   push constant 79
   call String.appendChar 2
   push constant 118
   call String.appendChar 2
   push constant 101
   call String.appendChar 2
   push constant 114
   call String.appendChar 2
   call Output.printString 1
   pop temp 0
   goto LABEL_47
label LABEL_46
label LABEL_47
   push constant 0
   return
function PongGame.moveBall 5
   push argument 0
   pop pointer 0
   push this 16
   call Ball.move 1
   pop this 14
   push this 14
   push constant 0
   gt
   push this 14
   push this 19
   eq
   not
   and
   not
   if-goto LABEL_48
   push this 14
   pop this 19
   push constant 0
   pop local 0
   push this 15
   call Bat.getLeft 1
   pop local 1
   push this 15
   call Bat.getRight 1
   pop local 2
   push this 16
   call Ball.getLeft 1
   pop local 3
   push this 16
   call Ball.getRight 1
   pop local 4
   push this 14
   push constant 4
   eq
   not
   if-goto LABEL_50
   push local 1
   push local 4
   gt
   push local 2
   push local 3
   lt
   or
   pop this 17
   push this 17
   not
   not
   if-goto LABEL_52
   push local 4
   push local 1
   push constant 10
   add
   lt
   not
   if-goto LABEL_54
   push constant 1
   neg
   pop local 0
   goto LABEL_55
label LABEL_54
   push local 3
   push local 2
   push constant 10
   sub
   gt
   not
   if-goto LABEL_56
   push constant 1
   pop local 0
   goto LABEL_57
label LABEL_56
label LABEL_57
label LABEL_55
   push this 20
   push constant 2
   sub
   pop this 20
   push this 15
   push this 20
   call Bat.setWidth 2
   pop temp 0
   push this 18
   push constant 1
   add
   pop this 18
   push constant 22
   push constant 7
   call Output.moveCursor 2
   pop temp 0
   push this 18
   call Output.printInt 1
   pop temp 0
   goto LABEL_53
label LABEL_52
label LABEL_53
   goto LABEL_51
label LABEL_50
label LABEL_51
   push this 16
   push local 0
   call Ball.bounce 2
   pop temp 0
   goto LABEL_49
label LABEL_48
label LABEL_49
   push constant 0
   return
